appdirs==1.4.3
bcrypt==3.1.4
cffi==1.11.2
click==6.7
Flask==0.12.1
Flask-Bcrypt==0.7.1
Flask-Login==0.4.0
Flask-PyMongo==0.5.1
Flask-Script==2.0.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
packaging==16.8
pycparser==2.18
pymongo==3.4.0
pyparsing==2.2.0
six==1.10.0
Werkzeug==0.12.1
