<!DOCTYPE html>
<html>
<head>
  <title>Flask-Registration</title>
  <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/pure-min.css' )}}" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<body>
  <header>
    <div class="pure-menu pure-menu-horizontal">
               <a href="{{url_for('index')}}" class="pure-menu-heading pure-menu-link">Home</a>
                   <ul class="pure-menu-list">
                       <a href="{{url_for('login')}}"  class="pure-menu-link">Login</a> 
                  </ul>
    </div>
  </header>

  
  
  
    {% block content %}
    {% endblock %} 
  
  <footer></footer>
</body>
</html>