{% extends "base.html" %}

{% block content %}

  <form method="POST" class="pure-form pure-form-aligned">
    <fieldset>
        
        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input id="email" name="inputEmail" type="email" placeholder="Email Address">
        </div>

        <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="password" name="inputPassword" type="password" placeholder="Password">
        </div>

            <button type="submit" class="pure-button pure-button-primary">Login</button>
        </div>
    </fieldset>
</form>
<p>Do not have an account ? <a href="{{ url_for('signup')}}">Register</a>. </p>
{% endblock %}