 {% extends "base.html" %}
 {% block title %}
    <title>User Registration</title>
    {% endblock %}

 {% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signin.css') }}"> 
    {% endblock %}
  
{% block code %}
    <div class="container">

      <form class="form-signin" action="" method="POST">
        <h2 class="form-signin-heading">SignIn</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        
        <div class="checkbox">
          <label>
            <input type="checkbox" name="admin"> Admin Role
          </label>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
      </form>

    </div> 
{% endblock %}
