{% extends "base.html" %}

{% block content %}

  <form method="POST" class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Username</label>
            <input id="name" name="username" type="text" placeholder="Username">
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="password" name="inputPassword" type="password" placeholder="Password" required="">
        </div>

        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input id="email" name="inputEmail" type="email" placeholder="Email Address" required="">
        </div>

            <button type="submit" class="pure-button pure-button-primary">Register</button>
        </div>
    </fieldset>
</form>
<p>Have an account. <a href="{{ url_for('login')}}">Login</a>. </p>
{% endblock %}